<footer id="footer" class="footer-center bg-base-100 p-4 text-base-content">
    <div>
        <p>Copyright © @currentYear - All right reserved by Stefan Milanovic</p>
    </div>
</footer>

@code {
    private String currentYear = DateTime.Now.Year.ToString();
}