@using PortfolioWebsite.Client.Shared.Components

@inherits LayoutComponentBase

<div class="page">
    <main>
        <AppNavbar/>
        
        @* Main Content *@
        <article>
            @Body
        </article>
        
        <AppFooter/>
    </main>
</div>
