@tailwind base;
@tailwind components;
@tailwind utilities;

#blazor-error-ui {
    display: none;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2.5s, opacity 2.5s linear;
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 2.5s linear;
}
  
[class^='icon-']::before {
    font-size: 23px;
    text-align: center;
    vertical-align: bottom;
    margin-right: 0;
}

.main-gradient {
    --tw-gradient-stops: #001883, #3e00ff, #001591, #020033;
}

.hero-content {
    background-color: #23232342;
    border-radius: 6%;
    padding: 45px;
    max-width: 95vw;
}

.footer {
    background-color: #111111;
}