@page "/"

@inject IJSRuntime jsRuntime

@using PortfolioWebsite.Client.Shared.Components;

<PageTitle>Stefan Milanovic | Portfolio</PageTitle>

@* Main Hero Section *@
<section id="main-hero">
  <div class="hero min-h-screen py-10">
    <div class="hero-content flex-col lg:flex-row-reverse h-full w-[80vw] max-w-6xl md:px-5">
      <div class="hero-image" data-aos="fade-left" data-aos-delay="200">
        <svg class="hexagon version=" 1.1" xmlns="http://www.w3.org/2000/svg" width="330" height="342"
          viewbox="0 0 173.20508075688772 200" style="filter: drop-shadow(rgba(255, 255, 255, 0.5) 0px 0px 10px);">
          <path
            d="M69.28203230275508 9.999999999999998Q86.60254037844386 0 103.92304845413264 9.999999999999998L155.88457268119896 40Q173.20508075688772 50 173.20508075688772 70L173.20508075688772 130Q173.20508075688772 150 155.88457268119896 160L103.92304845413264 190Q86.60254037844386 200 69.28203230275508 190L17.320508075688775 160Q0 150 0 130L0 70Q0 50 17.320508075688775 40Z"
            stroke="#b3c5ef" stroke-width="2" fill="transparent" />
        </svg>
        <div class="img-wrapper max-w-sm rounded-lg shadow-2xl mask mask-hexagon">
          <img src="images/me-square.jpg"
            class="max-w-sm rounded-lg shadow-2xl mask mask-hexagon tint bg-blend-color" />
        </div>
      </div>
      <div>
        <h1 class="text-xl font-bold font-mono" data-aos="fade-right" data-aos-delay="200">Hi, my name is</h1>
        <h1 class="text-7xl font-bold" data-aos="fade-right" data-aos-delay="400">Stefan Milanovic</h1>
        <p class="pt-5 pb-6 text-xl font-bold" data-aos="fade-right" data-aos-delay="600">
          — Software Engineer with 3+ years of industry experience
        </p>
        <p class="pt-3 pb-9 text-xl" data-aos="fade-right" data-aos-delay="800">
          Currently, I'm taking a career development break to learn C# and .NET MAUI by designing and building a
          cross-platform e-commerce solution for a small &
          local buissness, for free!
        </p>
        <button class="btn btn-primary my-1" data-aos="fade-right" data-aos-delay="1000" data-aos-duration="1000">Blog Coming Soon!</button>
      </div>
    </div>
  </div>
</section>

@* About Me Section *@
<section id="about-me">
  <div class="hero min-h-screen bg-base-100 overflow-hidden">
    <div class="hero-content prose flex-col-reverse lg:flex-row-reverse py-11 px-1 sm:px-0" data-aos="fade-right" data-aos-delay="100">
      <div class="text-left px-4 max-w-lg">
        <div class="text-center">
          <h1 class="hidden lg:flex text-5xl font-bold m-auto">About me</h1>
        </div>

        <p class="hidden lg:flex text-center lg:text-left font-medium py-3 max-w-xl" data-aos="fade-right" data-aos-delay="200">
          @helloText
        </p>
        <div class="divider hidden lg:flex"></div>
        <p class="m-0" data-aos="fade-right" data-aos-delay="300">
          Over the last 7 years, I've utilized a large variety of technologies to develop <strong>cross-platform apps,
            websites, games, and more.</strong>
        </p>
        <p data-aos="fade-right" data-aos-delay="400">Here are a few technologies I’ve been working with recently:</p>
        <ul class="tech-list">
          <li data-aos="fade-right" data-aos-anchor=".tech-list" data-aos-delay="500">C#</li>
          <li data-aos="fade-right" data-aos-anchor=".tech-list" data-aos-delay="600">.NET 6</li>
          <li data-aos="fade-right" data-aos-anchor=".tech-list" data-aos-delay="700">.NET MAUI</li>
          <li data-aos="fade-right" data-aos-anchor=".tech-list" data-aos-delay="800">Blazor WebAssembly</li>
          <li data-aos="fade-right" data-aos-anchor=".tech-list" data-aos-delay="900">Azure DevOps</li>
          <li data-aos="fade-right" data-aos-anchor=".tech-list" data-aos-delay="1000">ReactiveX (Rx.NET)</li>
          <li data-aos="fade-right" data-aos-anchor=".tech-list" data-aos-delay="1100">JavaScript (ES6+)</li>
          <li data-aos="fade-right" data-aos-anchor=".tech-list" data-aos-delay="1200">Tailwind CSS</li>
        </ul>
        <p class="py-2 mt-[60px]" data-aos="fade-right">
          Today, my main focus is supporting an <a href="https://www.facebook.com/getbathe">amazing woman-owned, small &
            local business</a> by designing and building them a <strong>cross-platform e-commerce app</strong> for free.
        </p>
        <div class="text-center">
          <div class="mockup-phone max-h-[300px] mt-4 mb-[-140px] inline-block lg:hidden" data-aos="fade-up">
            <div class="camera"></div> 
            <div class="display">
              <div class="artboard artboard-demo phone-1 bg-[#85ddcd]">
                <img src="images/bathe.svg" class="w-[60%] absolute top-11 m-0">
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="w-full max-w-sm content-center block">
        <div id="cloud" class="lg:mr-8" data-aos="zoom-in" data-aos-delay="300"></div>
        <div class="mockup-phone max-h-[300px] mt-28 mb-[-170px] hidden lg:inline-block" data-aos="fade-up">
          <div class="camera"></div> 
          <div class="display">
            <div class="artboard artboard-demo phone-1 bg-[#85ddcd]">
              <img src="images/bathe.png" class="absolute top-11 w-[94%] m-0">
            </div>
          </div>
        </div>
      </div>
      <div class="divider flex lg:hidden m-0"></div>
      <p class="flex lg:hidden text-center lg:text-left py-4 px-4 m-0 font-medium max-w-xl" data-aos="fade-right" data-aos-delay="200">
        @helloText
      </p>
      <div class="text-center">
        <h1 class="flex lg:hidden text-5xl font-bold m-auto" data-aos="fade-right">About me</h1>
      </div>
    </div>
  </div>
</section>

@* Experience Section *@
<section id="experience">
  <div class="hero bg-black bg-opacity-20">
    <div class="hero-content w-full lg:w-3/4 flex-col lg:flex-row pt-11 lg:space-x-4">
      <div class="self-center lg:self-baseline lg:sticky top-16 pt-6 lg:mb-80 text-left max-w-[80vw] lg:min-w-[22rem]">
        <h1 class="text-5xl font-bold" data-aos="fade-right">Experience</h1>
        <p class="py-6" data-aos="fade-right">
          My professional journey began <strong>at the age of 16</strong>, when I recieved my <strong>first technical
            certification</strong> and began teaching myself how to code.
        </p>
        <p class="py-6" data-aos="fade-right">
          Later, while working as an <strong>IT Technician</strong>, I completed the <strong>Full Stack Web Developer
            Bootcamp</strong> from Udacity built in <a href="https://www.udacity.com/google">collaboration with
            experts at Google</a>. This experience helped me realize my passion for writing code and led me to enrolling
          in college.
        </p>
        <p class="py-6" data-aos="fade-right">
          For most of my college career, I interned at <strong>JLG Industries</strong> both full-time during breaks and
          part-time while under a full course load. It
          was an incredible opportunity to gain relevant <strong>real-world experience</strong> while earning a degree.
        </p>
      </div>
      <div class="flex-shrink-0 w-full lg:w-3/5 lg:mt-40 min-w-fit" data-aos="fade-right">
        <ul href="#experience-2015" class="lg:steps lg:steps-vertical text-left lg:pl-1">
          <div class="xp-divider">2015</div>
          <li data-content="2015" class="step step-primary">
            <div class="xp-container">
              <ExperienceCard Title="CompTIA" Body="Earned CompTIA A+ Certification" Image="images/a-plus-logo.svg"
                ImageAlt="CompTIA A+ Certification Logo" ImageClass="w-[150px]" Tags="IT" />
            </div>
          </li>
          <div class="xp-divider">2016</div>
          <li href="#experience-2016" data-content="2016" class="step step-primary">
            <div class="xp-container">
              <ExperienceCard Title="Treehouse" Body="Completed JS Basics Course" Image="images/teamtreehouse_logo.svg"
                ImageAlt="Team Treehouse Logo" ImageClass="w-[100px]" Tags="JS,HTML/CSS" />
              <ExperienceCard Title="Treehouse" Body="Completed jQuery Basics Course"
                Image="images/teamtreehouse_logo.svg" ImageAlt="Team Treehouse Logo" ImageClass="w-[100px]"
                Tags="JS,jQuery,HTML/CSS" />
            </div>
          </li>
          <div class="xp-divider">2017</div>
          <li href="#experience-2017" data-content="2017" class="step step-primary">
            <div class="xp-container">
              <ExperienceCard Title="SmartSource Inc" Body="Started role of PC Technician at SmartSource Inc"
                Image="images/smartsource_logo.webp" ImageAlt="SmartSource Logo" ImageClass="w-[150px]" Tags="IT" />
              <ExperienceCard Title="Udacity" Body="Completed Full Stack Web Developer Nanodegree"
                Image="images/udacity-logo.svg" ImageAlt="Udacity Logo" ImageClass="w-[100px]"
                Tags="JS,Python,SQL,HTML/CSS" />
            </div>
          </li>
          <div class="xp-divider">2018</div>
          <li href="#experience-2018" data-content="2018" class="step step-primary">
            <div class="xp-container">
              <ExperienceCard Title="Treehouse" Body="Completed Object-Oriented JS Course"
                Image="images/teamtreehouse_logo.svg" ImageAlt="Team Treehouse Logo" ImageClass="w-[100px]" Tags="JS" />
              <ExperienceCard Title="Treehouse" Body="Completed Getting Started With ES2015 Course"
                Image="images/teamtreehouse_logo.svg" ImageAlt="Team Treehouse Logo" ImageClass="w-[100px]" Tags="JS" />
            </div>
          </li>
          <div class="xp-divider">2019</div>
          <li href="#experience-2019" data-content="2019" class="step step-primary">
            <div class="xp-container">
              <ExperienceCard Title="JLG Industries" Body="Started Digital Solutions Intern role at JLG Industries"
                Image="images/JLG.svg" ImageAlt="JLG Industries Logo" ImageClass="w-[100px]"
                Tags="TS,JS,Python,Angular,Node.js,HTML/CSS,Jenkins,Jira" />
            </div>
          </li>
          <div class="xp-divider">2022</div>
          <li href="#experience-2022" data-content="2022" class="step step-primary current">
            <div class="xp-container">
              <ExperienceCard Title="College" Body="Graduated as a Bachelor of Science in Software Engineering"
                Image="images/ship-logo.webp" ImageAlt="Shippensburg University of Pennsylvania Stacked Logo"
                ImageClass="w-[120px]" Tags="Cum Laude,Data Science Minor,ABET Accredited" />
              <ExperienceCard Title="Independent" Body="Started Professional Career Development Break"
                Image="images/calendar-icon.svg" ImageAlt="Calendar Icon" ImageClass="w-[120px]"
                Tags="C#,.NET Core,Blazor,Xamarin/Maui" />
            </div>
          </li>
          <div class="xp-divider">2023</div>
          <li data-content="2023" class="step step-neutral">
            <div class="xp-container">
              <ExperienceCard Title="What's Next?" Body="Interested in working together? Let's talk."
                Image="images/lets-work-together.svg" ImageAlt="Let's Work Together text" ImageClass="w-[120px]"
                CardClass="bg-bold-blue" Tags="Full-time,Contract" />
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

@* Contact Section *@
<section id="contact">
  <div class="hero min-h-[35rem] bg-base-200">
    <div class="hero-content text-center">
      <div class="max-w-md px-4">
        <h1 class="text-5xl font-bold" data-aos="fade-down">Get In Touch</h1>
        <p class="py-6" data-aos="fade-down">
          My mailbox is always open, whether you have a question or simply want to say hello,
          I will do my best to respond!
        </p>
        <button onclick="location.href='hello@stefandev.com'" ; class="btn btn-primary" data-aos="fade-in">Say Hello</button>
      </div>
    </div>
  </div>
</section>

@code {
  private String helloText = "👋 Hello! My name is Stefan and I'm a Software Engineer, Designer & App Developer with a passion for Data Science and learning new things.";
  protected override void OnAfterRender(bool firstRender)
  {
    // Always execute conditionally for loading data, otherwise this will load
    // every time the page refreshes!
    if (firstRender)
    {
      createCloud();
      startAOS();
    }
  }

  /*
  * Load the word cloud data and set properties.
  */
  public async void createCloud()
  {
    // TODO: Pull this from the database
    List<string> words = new List<string> {
      "C#", ".NET", "Java", "C", "Python", "JS", "TS", "Node.js", "Blazor",
      "MySQL", "Angular", "R", "Electron", "Xamarin", "Maui", "HTML",
      "CSS", "Assembly", "LibGDX", "Vue.js"
    };

    Dictionary<string, string> options = new Dictionary<string, string>() {
      {"radius", "180"},
      {"maxSpeed", "slow"},
      {"initSpeed", "slow"},
      {"direction", "140"}, // right-bottom
      {"keep", "true"}      // interact with cursor move on mouse out
    };

    // Generate the word cloud
    await jsRuntime.InvokeAsync<object>("TagCloud", "#cloud", words, options);
  }


  public async void startAOS()
  {
    await jsRuntime.InvokeAsync<object>("AOS.init");
  }
}
