@page "/"

<PageTitle>Stefan Milanovic | Portfolio</PageTitle>

@* Main Hero Section *@
<section>
  <div class="hero min-h-screen py-10">
    <div class="hero-content flex-col lg:flex-row-reverse h-full w-[80vw] max-w-6xl px-5">
      <div class="hero-image">
        <svg class="hexagon version="1.1" xmlns="http://www.w3.org/2000/svg" width="330" height="342" viewbox="0 0 173.20508075688772 200" style="filter: drop-shadow(rgba(255, 255, 255, 0.5) 0px 0px 10px);">
          <path d="M69.28203230275508 9.999999999999998Q86.60254037844386 0 103.92304845413264 9.999999999999998L155.88457268119896 40Q173.20508075688772 50 173.20508075688772 70L173.20508075688772 130Q173.20508075688772 150 155.88457268119896 160L103.92304845413264 190Q86.60254037844386 200 69.28203230275508 190L17.320508075688775 160Q0 150 0 130L0 70Q0 50 17.320508075688775 40Z"
            stroke="#b3c5ef" 
            stroke-width="2" 
            fill="transparent" />
        </svg>
        <div class="img-wrapper max-w-sm rounded-lg shadow-2xl mask mask-hexagon">
          <img src="images/me-square.jpg" class="max-w-sm rounded-lg shadow-2xl mask mask-hexagon tint bg-blend-color" />
        </div>
      </div>
      <div>
        <h1 class="text-xl font-bold font-mono">Hi, my name is</h1>
        <h1 class="text-7xl font-bold">Stefan Milanovic</h1>
        <p class="py-6 text-xl">
            I'm a Software Engineer with industry experience building web applications. 
            Currently, I'm taking a professional development break to learn C#, .NET 
            Xamarin/Maui, and Blazor Webassembly by designing and building a cross-
            platform eccommerce application for a small and local business!
        </p>
        <button class="btn btn-primary my-1">Blog Coming Soon!</button>
      </div>
    </div>
  </div>
</section>

@* About Me Section *@
<section>
  <div></div>
</section>

@* Experience Section *@
<section>
  <div></div>
</section>

@* Work Section *@
<section>
  <div></div>
</section>

@* Contact Section *@
<section>
  <div></div>
</section>

@code {

}